{% extends 'base.html' %}

{% block content  %}
<div class="container">
    <div class="row">
        {% for post in post_list %}
        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="{{ post.thumbnail.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="{{ post.get_absolute_url }}">
                        <h5 class="card-title">{{ post.title }}</h5>
                    </a>
                    <p class="card-text">{{ post.content|truncatechars:40 }}</p>
                    <hr>
                    <p class="card-text">
                        <span><i class="far fa-eye ml-2"></i> {{ post.get_view_count }}</span>
                        <span><i class="far fa-thumbs-up ml-2"></i> {{ post.get_like_count }}</span>
                        <span><i class="far fa-comments ml-2"></i> {{ post.get_comment_count }}</span>
                    </p>
                    <p class="card-text">
                        Posted {{ post.publish_date|timesince }} ago
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content  %}